In [2]:
import pandas as pd
df = pd.read_csv('ks-projects-201801.csv')

In [3]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

Checking for null values

In [4]:
df.isna().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [5]:
df.dropna(inplace = True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374860 entries, 0 to 378660
Data columns (total 15 columns):
ID                  374860 non-null int64
name                374860 non-null object
category            374860 non-null object
main_category       374860 non-null object
currency            374860 non-null object
deadline            374860 non-null object
goal                374860 non-null float64
launched            374860 non-null object
pledged             374860 non-null float64
state               374860 non-null object
backers             374860 non-null int64
country             374860 non-null object
usd pledged         374860 non-null float64
usd_pledged_real    374860 non-null float64
usd_goal_real       374860 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 45.8+ MB

In [7]:
df.isna().sum()

ID                  0
name                0
category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd pledged         0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

checking for duplicated values

In [8]:
df.duplicated().any()

False

There is no duplicated values in the dataset

checking the value counts

In [9]:
df['state'].value_counts()

failed        197611
successful    133851
canceled       38757
live            2798
suspended       1843
Name: state, dtype: int64

In [10]:
df['category'].value_counts()

Product Design       22310
Documentary          16138
Tabletop Games       14178
Music                13340
Shorts               12357
Video Games          11828
Food                 11492
Film & Video          9224
Fiction               9168
Fashion               8554
Nonfiction            8317
Art                   8253
Apparel               7165
Theater               7056
Technology            6927
Rock                  6758
Children's Books      6756
Apps                  6345
Webseries             5762
Photography           5752
Indie Rock            5657
Publishing            5525
Narrative Film        5186
Web                   5153
Comics                4996
Crafts                4664
Country & Folk        4451
Design                4199
Hip-Hop               3911
Hardware              3662
                     ...
Couture                275
Blues                  268
Animals                255
Fabrication Tools      250
Printing               238
Makerspaces            238
Movie Theaters         232
Puzzles                231
Bacon                  221
Stationery             219
Photo                  196
Video Art              194
Romance                190
Knitting               181
Workshops              164
Crochet                162
Translations           153
Pet Fashion            139
Glass                  138
Latin                  137
Embroidery             113
Typography             108
Pottery                100
Weaving                 93
Quilts                  81
Residencies             69
Letterpress             49
Chiptune                35
Literary Spaces         27
Taxidermy               13
Name: category, Length: 159, dtype: int64

In [11]:
df['main_category'].value_counts()

Film & Video    62696
Music           49530
Publishing      39379
Games           35225
Technology      32562
Design          30066
Art             28152
Food            24599
Fashion         22812
Theater         10912
Comics          10819
Photography     10778
Crafts           8809
Journalism       4754
Dance            3767
Name: main_category, dtype: int64

In [12]:
df['main_category'].value_counts().nunique()

15

In [13]:
df['category'].value_counts().nunique()

157

In [14]:
df['backers'].value_counts().nunique()

317

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374860 entries, 0 to 378660
Data columns (total 15 columns):
ID                  374860 non-null int64
name                374860 non-null object
category            374860 non-null object
main_category       374860 non-null object
currency            374860 non-null object
deadline            374860 non-null object
goal                374860 non-null float64
launched            374860 non-null object
pledged             374860 non-null float64
state               374860 non-null object
backers             374860 non-null int64
country             374860 non-null object
usd pledged         374860 non-null float64
usd_pledged_real    374860 non-null float64
usd_goal_real       374860 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 45.8+ MB

We can calculate the number of days that the project was live and also garner information on the whether the amount of days led to more successful or failed projects

In [16]:
df['launched'] = pd.to_datetime(df['launched'])

In [17]:
df['deadline'] = pd.to_datetime(df['deadline'])

In [18]:
df['number_of_days'] = df['deadline'] - df['launched']

In [19]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,number_of_days
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,58 days 11:47:32
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,59 days 19:16:03
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00,44 days 23:39:10
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00,29 days 20:35:49
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00,55 days 15:24:57

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374860 entries, 0 to 378660
Data columns (total 16 columns):
ID                  374860 non-null int64
name                374860 non-null object
category            374860 non-null object
main_category       374860 non-null object
currency            374860 non-null object
deadline            374860 non-null datetime64[ns]
goal                374860 non-null float64
launched            374860 non-null datetime64[ns]
pledged             374860 non-null float64
state               374860 non-null object
backers             374860 non-null int64
country             374860 non-null object
usd pledged         374860 non-null float64
usd_pledged_real    374860 non-null float64
usd_goal_real       374860 non-null float64
number_of_days      374860 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(5), int64(2), object(6), timedelta64[ns](1)
memory usage: 48.6+ MB

In [21]:
df['number_of_days'] = df['number_of_days'].dt.days

In [22]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,number_of_days
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95,58
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00,59
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00,44
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00,29
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00,55

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374860 entries, 0 to 378660
Data columns (total 16 columns):
ID                  374860 non-null int64
name                374860 non-null object
category            374860 non-null object
main_category       374860 non-null object
currency            374860 non-null object
deadline            374860 non-null datetime64[ns]
goal                374860 non-null float64
launched            374860 non-null datetime64[ns]
pledged             374860 non-null float64
state               374860 non-null object
backers             374860 non-null int64
country             374860 non-null object
usd pledged         374860 non-null float64
usd_pledged_real    374860 non-null float64
usd_goal_real       374860 non-null float64
number_of_days      374860 non-null int64
dtypes: datetime64[ns](2), float64(5), int64(3), object(6)
memory usage: 48.6+ MB

In [24]:
df['usd_pledged_real']

0              0.00
1           2421.00
2            220.00
3              1.00
4           1283.00
5          52375.00
6           1205.00
7            453.00
8           8233.00
9           6240.57
10             0.00
11         12700.00
12             0.00
13             0.00
14        121857.33
15           664.00
16           395.00
17           789.00
18           250.00
19          1781.00
20         34268.00
21             0.81
22           650.00
23             6.29
24           701.66
25         15827.00
26             0.00
27         42174.03
28           160.60
29         57577.31
            ...
378631     13861.50
378632         0.00
378633     11643.00
378634      3531.00
378635        70.00
378636      4686.96
378637     10245.00
378638        18.00
378639      5579.00
378640       100.00
378641         0.00
378642      1452.47
378643         0.00
378644      6169.00
378645      4374.99
378646      1732.02
378647       980.00
378648       121.00
378649       135.00
378650         0.00
378651      4983.69
378652      2875.83
378653        25.00
378654       154.00
378655         0.00
378656        25.00
378657       155.00
378658        20.00
378659       200.00
378660       524.00
Name: usd_pledged_real, Length: 374860, dtype: float64

In [25]:
df['usd pledged']

0             0.00
1           100.00
2           220.00
3             1.00
4          1283.00
5         52375.00
6          1205.00
7           453.00
8          8233.00
9          6240.57
10            0.00
11        12700.00
12            0.00
13            0.00
14        57763.78
15          664.00
16          395.00
17          789.00
18          250.00
19         1781.00
20        34268.00
21            0.00
22          650.00
23            6.18
24          701.66
25        15827.00
26            0.00
27        43203.25
28          167.70
29        10120.00
            ...
378631    13861.50
378632        0.00
378633    11643.00
378634     3531.00
378635       70.00
378636     4814.88
378637      145.00
378638       18.00
378639     5579.00
378640      100.00
378641        0.00
378642       66.72
378643        0.00
378644     6169.00
378645     4281.15
378646     1732.02
378647      980.00
378648      121.00
378649       45.00
378650        0.00
378651     5019.92
378652     2698.97
378653       25.00
378654        0.00
378655        0.00
378656       25.00
378657      155.00
378658       20.00
378659      200.00
378660      524.00
Name: usd pledged, Length: 374860, dtype: float64

In [26]:
df['state'].value_counts()

failed        197611
successful    133851
canceled       38757
live            2798
suspended       1843
Name: state, dtype: int64

We do not need cancelled, live and suspended for our model prediction and classification, so we will be dropping these rows.

In [28]:
df = df[df['state'] != 'live']

In [29]:
df['state'].value_counts()

failed        197611
successful    133851
canceled       38757
suspended       1843
Name: state, dtype: int64

In [30]:
df = df[df['state'] != 'suspended']

In [31]:
df = df[df['state'] != 'canceled']

In [32]:
df['state'].value_counts()

failed        197611
successful    133851
Name: state, dtype: int64

All unwanted classes are now dropped from the dataframe

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331462 entries, 0 to 378660
Data columns (total 16 columns):
ID                  331462 non-null int64
name                331462 non-null object
category            331462 non-null object
main_category       331462 non-null object
currency            331462 non-null object
deadline            331462 non-null datetime64[ns]
goal                331462 non-null float64
launched            331462 non-null datetime64[ns]
pledged             331462 non-null float64
state               331462 non-null object
backers             331462 non-null int64
country             331462 non-null object
usd pledged         331462 non-null float64
usd_pledged_real    331462 non-null float64
usd_goal_real       331462 non-null float64
number_of_days      331462 non-null int64
dtypes: datetime64[ns](2), float64(5), int64(3), object(6)
memory usage: 43.0+ MB

we do not pledged and goal because these values in various currency amonut are already converted to USD dollars in the pledged real and goal real columns

In [34]:
del df['goal']

In [35]:
del df['pledged']

In [36]:
df.head()

,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,number_of_days
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,0.0,1533.95,58
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,100.0,2421.0,30000.00,59
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,220.0,45000.00,44
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,1.0,5000.00,29
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,2016-02-26 13:38:27,successful,224,US,52375.0,52375.0,50000.00,34

Drop the usd pledged as well since we have the converted amonut in US dollars

In [37]:
del df['usd pledged']

In [38]:
df.head()

,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,number_of_days
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95,58
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00,59
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00,44
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00,29
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,2016-02-26 13:38:27,successful,224,US,52375.0,50000.00,34

Now, we are to create a new column that will claculate whether the succesful projects raised more than the goal amount needed to kickstart the project or they just achieved that certain amount and also for the failed projects, by how much were they short of achieving the target amount needed to kickstart the project

In [39]:
df['pledged_goal_diff'] = df['usd_pledged_real'] - df['usd_goal_real']

In [40]:
df.head()

,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,number_of_days,pledged_goal_diff
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95,58,-1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00,59,-27579.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00,44,-44780.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00,29,-4999.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,2016-02-26 13:38:27,successful,224,US,52375.0,50000.00,34,2375.00

We now have that particluar column to tell us what projects got more money than they bargained for.

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331462 entries, 0 to 378660
Data columns (total 14 columns):
ID                   331462 non-null int64
name                 331462 non-null object
category             331462 non-null object
main_category        331462 non-null object
currency             331462 non-null object
deadline             331462 non-null datetime64[ns]
launched             331462 non-null datetime64[ns]
state                331462 non-null object
backers              331462 non-null int64
country              331462 non-null object
usd_pledged_real     331462 non-null float64
usd_goal_real        331462 non-null float64
number_of_days       331462 non-null int64
pledged_goal_diff    331462 non-null float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(6)
memory usage: 37.9+ MB

In [42]:
df.describe()

,ID,backers,usd_pledged_real,usd_goal_real,number_of_days,pledged_goal_diff
count,3.314620e+05,331462.000000,3.314620e+05,3.314620e+05,331462.000000,3.314620e+05
mean,1.074288e+09,116.456315,9.939989e+03,4.152286e+04,32.955938,-3.158287e+04
std,6.191996e+08,965.732911,9.664561e+04,1.109279e+06,12.714064,1.112869e+06
min,5.971000e+03,0.000000,0.000000e+00,1.000000e-02,0.000000,-1.663614e+08
25%,5.371698e+08,2.000000,5.000000e+01,2.000000e+03,29.000000,-9.224000e+03
50%,1.074686e+09,15.000000,7.875000e+02,5.000000e+03,29.000000,-1.263095e+03
75%,1.609865e+09,63.000000,4.609000e+03,1.500000e+04,35.000000,2.980750e+02
max,2.147476e+09,219382.000000,2.033899e+07,1.663614e+08,91.000000,1.983899e+07

In [43]:
df['state'].value_counts()

failed        197611
successful    133851
Name: state, dtype: int64

The next step is to create a separate column for the binary classification which is the state of the project, failed and successful.

In [51]:
df['classes_state'] = df.state.astype('category').cat.codes

In [53]:
df.head(6)

,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real,number_of_days,pledged_goal_diff,classes_state
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95,58,-1533.95,0
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00,59,-27579.00,0
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00,44,-44780.00,0
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00,29,-4999.00,0
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,2016-02-26 13:38:27,successful,224,US,52375.0,50000.00,34,2375.00,1
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,2014-12-01 18:30:44,successful,16,US,1205.0,1000.00,19,205.00,1

Now the new column to predict will be classes_state

In [57]:
df.isnull().any()

ID                   False
name                 False
category             False
main_category        False
currency             False
deadline             False
launched             False
state                False
backers              False
country              False
usd_pledged_real     False
usd_goal_real        False
number_of_days       False
pledged_goal_diff    False
classes_state        False
dtype: bool

In [56]:
df.duplicated().any()

False

In [61]:
df.to_csv('cleaned_data', encoding='utf-8', index=False)